<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transit Map Visualization</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <canvas id="map"></canvas>
    <div class="menu">
        <button>Add Station</button>
        <button>Add Connection</button>
        <button>Add River</button>
        <button>Add Icon</button>
        <button>+</button>
        <button>-</button>
    </div>
    <script type="module" src="/static/script.js"></script>
</body>
</html>